.Page_Detail_Container {
  width: calc(90% - 60px);
  max-height: calc(100% - 120px);
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: auto;
  margin: 30px auto;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  padding: 30px;
}

.Back_Button {
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
  background-color: #4177FB;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  font-size: 18px;
  padding: 12px 30px;
  transition: all 0.25s;
}

.Page_Title {
  font-weight: bold;
  margin: 30px 0 12px 0;
  font-size: 24px;
}

.Page_Description {
  color: gray;
  font-size: 18x;
  line-height: 20px;
  margin: 12px 0 30px 0;
}

.Page_Photo {
  width: 100%;
  height: auto;
}

.Back_Button:disabled {
  opacity: 0.5;
}