.Item_Container {
  width: calc(100% - 60px);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 30px;
  border-bottom: 1px solid gray;
}

.Item_Photo_Container {
  flex: 1;
}

.Item_Photo {
  width: 90px;
  height: 90px;
  overflow: hidden;
  border-radius: 50%;
  background-color: gray;
  object-fit: cover;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
}

.Item_Row_Description {
  flex: 4;
  margin-left: 30px;
}

.Item_Title {
  font-weight: bold;
  color: #4177FB;
  cursor: pointer;
  font-size: 20px;
}

.Item_Description {
  font-size: 14px;
  color: gray
}

@media (max-width: 780px) {
  .Item_Container {
    padding: 12px;
    width: calc(100% - 24px);
  }
}