.Page_Container {
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Form_Container {
  background-color: white;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
  padding: 30px 60px;
  border-radius: 12px;
  width: calc(90% - 120px);
  max-width: 800px;
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Form_Container_Title {
  margin: 0;
  font-weight: bold;
  text-align: center;
  letter-spacing: -1px;
  font-size: 24px;
  margin-bottom: 24px;
}

.Form_Container_Input {
  padding: 12px 18px;
  outline: none;
  font-size: 18px;
  border: 2px solid black;
  border-radius: 6px;
  margin-bottom: 24px;
  width: calc(100% - 36px);
}

.Form_Container_Submit {
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
  background-color: #4177FB;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  font-size: 18px;
  width: 100%;
  padding: 12px 0;
  transition: all 0.25s;
}

.Form_Container_Submit:disabled {
  opacity: 0.5;
}

.Form_Container_Submit:hover {
  opacity: 0.75;
}

.List_Container {
  background-color: white;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
  padding: 30px 60px;
  width: calc(90% - 120px);
  max-width: 800px;
  overflow: auto;
  flex: 1;
  margin-bottom: 30px;
  border-radius: 12px;
  animation: growList 1s;
}

.List_Container_Title {
  margin: 0px 0 30px 0;
  font-weight: bold;
  font-size: 24px;
  letter-spacing: -1px;
}

@media (max-width: 780px) {
  .List_Container {
    width: calc(90% - 24px);
    padding: 30px 12px;
  }
}

@keyframes growList {
  0% {
    height: 0;
    flex: unset;
  }
  100% {
    height: 100%;
    flex: 1;
  }
}